<style>
    fieldset {
        margin-bottom: 20px;
    }
</style>

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ultimate Form of Forminess</h3>
        </div>
        <div class="panel-body">
            <form action="/submit" method="GET"> {{!<form action="/" method="POST">}}
                <fieldset>
                    <legend>Your details</legend>

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input class="form-control" type="text" name="name">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Options</legend>

                    <label class="checkbox-inline"><input type="checkbox" value="option1" name="options">Option One</label>
                    <label class="checkbox-inline"><input type="checkbox" value="option2" name="options">Option Two</label>
                    <label class="checkbox-inline"><input type="checkbox" value="option3" name="options">Option Three</label>
                    <label class="checkbox-inline"><input type="checkbox" value="option4" name="options">Option Four</label>
                    <label class="checkbox-inline"><input type="checkbox" value="option5" name="options">Option Five</label>

                </fieldset>

                <button type="submit" class="btn btn-primary">Done!</button>
                <button type="reset" class="btn btn-default">Clear</button>
            </form>
        </div>
    </div>
</div>